
.circle {
    width: 100%;
    height: 100%;
    box-sizing: border-box !important;
    border-radius: 100% !important;
    border: #00a5ff 7.5px solid !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -webkit-transition: border-width 0.25s ease;
    -moz-transition: border-width 0.25s ease;
    -o-transition: border-width 0.25s ease;
    -ms-transition: border-width 0.25s ease;
    transition: border-width 0.25s ease;
}

.circle:active {
    border: #00a5ff 30px solid !important;
}

/*sfondo*/
.sapMPage, .sapMPanel {
    background-color: #007cc0 !important;
}

.sapMCustomTile{
    height: 15rem!important;
    width: 15rem !important;
}


@media screen and (max-width:80rem){
    .sapMCustomTile{
        height: 15rem!important;
        width: 15rem !important;
    }
}
@media screen and (max-width:120rem){
    .sapMCustomTile{
        height: 6rem!important;
        width: 6rem !important;
    }
}

.buttonsWrapper {
    align-self: center !important;
    /*padding-left:5%;
    padding-right:5%;*/
    width: auto!important;
}
